---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2023-09-28&key=020cef30cce548b390a20037232409&q=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/26/2023 21:08:02'
      Cdn-Edgestorageid:
      - '954'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 401614e2ce304886644f6e76c9596b7b
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.24,"tz_id":"America/Los_Angeles","localtime_epoch":1695762480,"localtime":"2023-09-26
        14:08"},"current":{"last_updated":"2023-09-26 14:00","temp_f":80.1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"},"humidity":47,"cloud":0,"feelslike_f":81.2,"vis_miles":8.0,"uv":7.0},"forecast":{"forecastday":[{"date":"2023-09-28","day":{"maxtemp_f":79.7,"mintemp_f":66.4,"totalsnow_cm":0.0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"}},"astro":{"sunrise":"06:45
        AM","sunset":"06:41 PM"},"hour":[{"time":"2023-09-28 00:00","temp_f":70.7,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-28
        01:00","temp_f":69.7,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-28
        02:00","temp_f":68.9,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-28
        03:00","temp_f":68.2,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com[...]
